// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Viaoda+Libre&display=swap');

// Define fonts for body and headers
$body-font: "Viaoda Libre", "serif";
$headers-font: "Fascinate", "system-ui";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
