<%= render "shared/navbar" %>
<%= render "shared/searchbar" %>


<div class="results-page d-none">
  <nav class="container mt-4">
    <div class="search-section p-4 rounded position relative">
      <div class="row align-itmes-center">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for services or salons">
            <button class="btn btn-primary px-4" type="button">Search</button>
          </div>
        </div>
      </div>
      <button class="btn btn-info rounded-circle chat-bot-btn">
        Chat<br>Bot
      </button>
    </div>

    <h3 class="mt-4 mb-3">Results</h3>
    <div class="row g-3">

      <div class="col-md-6">
        <div class="card appointment-card position-relative">
          <img src="https://images.unsplash.com/photo-1560066984-138dadb4c035?w=400" class="card-img-top" alt="Salon">
          <div class="card-body">
            <h5 class="card-tittle">Chez Chic</h5>
            <p class="card-text">Wash & Set with Tiley</p>
          </div>
          <button class="btn btn-info rounded-circle chat bot-btn-small">
             Chat<br>Bot
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card appointment-card">
          <img src="https://images.unsplash.com/photo-1560066984-138dadb4c035?w=400" class="card-img-top" alt="Salon">
          <div class="card-body">
            <h5 class="card-title">Barber Shop</h5>
            <p class="card-text">Beard trim & line up with Omar</p>
          </div>
        </div>
      </div>
