<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p style="margin-top: 32px; font-size: 12px; color: #888888;">
      This is an automated notification from ChairHop. Please do not reply to this email.
      To message directly, log in to your ChairHop account at
      <a href="https://chair-hop.com/conversations" style="color: #888888;">chair-hop.com/conversations</a>.
    </p>
  </body>
</html>
